@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
    margin: 0;
    padding: 0;
    background-image: url('mosaico.png');
    background-repeat: repeat;
    padding: 20px;
}

header {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /* Cambiado "font-style" a "font-weight" */
    color: #ffffff;
    background-color: #1cc0dd;
    border-radius: 15px;
    text-align: center;
    padding: 2px;
    margin-bottom: 2px;
}
/* Agrega estas reglas al final de tu hoja de estilos CSS */

.Contenedor.principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Contenedor.principal > div {
    flex: 1;
    margin-right: 10px;
}

#areaTexto,
#areaTextoEncriptado {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0; /* Asegura que el footer esté alineado a la izquierda */
    width: 100%;
    background-image: url('footeer.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-images {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    gap: 10px; /* Espacio entre las imágenes */
}

.footer-image {
    width: 40px; /* Ajusta el tamaño según tu preferencia */
    height: auto;
}



