body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #8ea2eb;
}

header {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    color: #ffffff;
    background-color: #3a3a3a;
    border-radius: 8px;
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
}

.minecraft-box {
    border: 5px solid #3a3a3a;
    background-color: #c6c6c6;
    box-shadow: 2px 2px 0px #000000;
}

.InputTexto {
    margin: 10px 0 10px 50px;
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.ouputTexto {
    position: relative;
    bottom: 0;
    width: 50%;
    height: 30%;
    display: inline-block;
    text-align: right;
}

.Boton {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    padding: 8px;
    color: #ffffff;
    background-color: #3a3a3a;
    border-radius: 12px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #3a3a3a;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    padding: 15px;
    color: #ffffff;
    display: block;
    border-radius: 8px;
    text-align: center;
}
